body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    width: 300px;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0;
}

input[type="number"], input[type="text"] {
    width: 100%;
    padding:10px;
    margin: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: antiquewhite;
    color: rgb(255, 149, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

input[type="text"] {
    text-align: center;
    font-size: 16px;
}